.section-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100vh;
    /* width: 600px; */
    padding: 1rem 0;
    /* width: 100%; */
  
    
  }
  & form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.5rem; */
  }

  & form div label {
    font-size: 1.05rem;
  }

  & form div input,
  textarea,
  select {
    width: 65%;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.393);
    outline: none;
    font-size: 1.05rem;

    
  }


  & form .input-control,
  .experience-container {
    padding: 0 2rem;
    overflow: hidden;
  }
}

.section-form textarea{
  max-height: 90px;
  overflow: auto;
}

.section-form-content {
  height: 100%;
  width: 100%;
  gap: 2.5rem;
  display: flex;

  flex-direction: column;
}

.form-heading--container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.414);
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  overflow: hidden;

}

.multiple-skills-section{
  width: 65%;
  position: relative;
  overflow: auto;
  max-height: 130px;
  padding: 0.2rem 0.2rem;
  background-color: rgb(240, 237, 237);

  & .remove-all-skills--container{
    position: absolute;
    width: max-content;
    padding: 0.2rem 0.4rem;
    background-color: transparent;
    color: black;
    right: 0;
  }
  
  & select {
    width: 100%;
    margin-top: 0.4rem;
  }
  & .selected-skills{
    width: 75%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    & li{
      display: flex;
      align-items: center;
      background-color: gray;
      padding: 0 0.3rem;
      color: white;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
}
    & button{
      padding: 0.2rem;
      background-color: transparent;
      margin-left: 0.2rem;
      
    }
  }
}

textarea {
  max-width: 65%;
}

.experience-container {
  display: flex;
  & div {
    width: 65%;
    display: flex;
    gap: 1rem;

    & input {
      width: 50%;
    }
  }
}

.add-position-btn--container {
  display: flex;
  justify-content: end !important;
  margin-top: 2rem;
  border-top: 1px solid gray;
  width: 100%;
  overflow: hidden;
  & button {
    background-color: #227a8a;
    padding: 0.7rem 2rem;
    border: none;
    color: white;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    cursor: pointer;
    margin: 1.5rem 1.5rem 0 0;
  }
}

form label span {
  color: red;
  margin-left: 0.4rem;
}

@media (max-width: 576px) {
  .section-form {
    height: 550px;
    font-size: 0.9rem;

    & div label {
      width: 30%;
    }

    & form .input-control,
    .experience-container {
      padding: 0rem;
      
    }
  }
  .section-form form {
    gap: 1rem;
    width: 100%;
  }

  
}
