
.candidate-kanban-buttons {
    border: none;
    padding: 0.3rem 0.6rem;
}
.candidate-kanban-buttons:hover{
    background-color: #227a8a;
    color: white;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.candidate-kanban-content{
    /* display: flex;
    flex-wrap: wrap;
    gap: 1rem; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-bottom: 1rem;
}

.candidate-kanban-li-item{
    
    /* width: 30%; */
    /* max-height: 300px; */
    border: 1px solid #227a8a;
    padding: 1rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.candidate-kanban-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    
}
.kanban-candidate-title-container{
    display: flex;
    
    justify-content: space-between;
    width: 100%;

    & h3{
        color: #227A8A;
    }
}
.candidate-field{
    width: 30%;
    color: #808090;
}

.candidate-value{
    width: 65%;
}