.section-kanban {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.kanban-content {
    padding: 1rem;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & svg{
        font-size: 1.2rem;
    }
}

.kanban-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & .value{
        width: 100%;
    }
    & p{
        line-height: 1.5;
        letter-spacing: 0.7px;
        font-size: 1rem;
        width: 100%;
    }
    & .field{
        width: 50%;
    }
}

.title-container h3{
    color: #227A8A;

}

.kanban-content li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 250px;
    max-height: 350px;
    border: 1.5px solid #227A8A;
    padding: 0.6rem;
    /*border-radius: 0.8rem;
    */border-radius: 0.2rem;
    flex-wrap: wrap;
    /* gap: 0.4rem; */
    cursor: pointer;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    
}

.title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.kanban-content li div {
    display: flex;
    line-height: 1.5;
}

.field {
    color: gray;
    width: 180px;
}

.value {
    text-align: left;
}


@media (max-width:992px) {
    .kanban-content{
        grid-template-columns: repeat(2,1fr);
    }
    .kanban-content li{
        width: 100%;
    }
    .kanban-content .field{
        width: 30%;
    }
    .kanban-content .value{
        width: 60%;
    }

    
}

@media (max-width:576px) {
    .section-kanban{
        padding: 0.3rem;
    }
    .kanban-content{
        grid-template-columns: repeat(1,1fr);
        & svg{
            font-size: 1.4rem;
        }
    }
    .kanban-content li{
        width: 100%;
    }
    .kanban-content .field{
        width: 30%;
    }
    .kanban-content .value{
        width: 60%;
    }

}