.dropdown-item {
  height: 30px;
}

.dropdown-item-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color:white;
  /* background-color: rgba(230, 229, 229, 0.171); */
  /* background-color: #227a8a; */
  /* border-radius: 0.5rem; */
  

  gap: 1rem;
  align-items: center;


}
.dropdown-item-popup li{
  cursor: pointer;
  color: black;
}

.dropdown-item-popup a {
  color: white;
  text-decoration: none;
  rotate: 0deg;
}

.dropdown-item-popup li:hover{
  color: #ffcc00;
}

.dropdown-button {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-button::after{
  content: "";
  width: 100px;
  background-color: red;
  position: absolute;
  top: 0;
}


.arrow-icon {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.arrow-icon .rotate {
  rotate: 180deg;
}

.activeColor {
  color: #227a8a;
  border-bottom: 2px solid #227a8a; 
  padding-bottom: 5px;
}
