
.sorting-section{
    width: 500px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 3rem;    */
    /* border: 1px solid red; */
}

.sorting-search--container{
    padding:0  0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius:0.5rem;
    height: 40px;
  /* border: 1px solid red; */
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -ms-border-radius:0.5rem;
    -o-border-radius:0.5rem;
    & input{
        outline: none;
        border: none;
    }
    
}

.down-arrow--container{
    display: flex;
   flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid gray;
    font-size: 2rem;
    padding: 0.3rem;
    overflow: hidden;
    cursor: pointer;
}

.sorting-pagination--container{
    display: flex;
    align-items: center;
    gap: 1rem;

    & button{
        padding: 0.2rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }
}

.sorting-filter--container{
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width:998px) {
    .sorting-section{
        /* width: 100%; */
        width: 60%;

        & .sorting-search--container{
        }
    }
    
}


@media (max-width:768px) {
    .sorting-section{
        width: 80%;
    }

    .sorting-search--container{
        width: 50%;
        padding: 0.2rem;
        height: 25px;
        overflow: hidden;

        & input{
            border-right: none;
        }
        & .down-arrow--container svg{
            display: none;
            border: 1px solid red;
        }
    }
    
}

@media (max-width:576px) {
    .sorting-pagination--container{
        gap: 0.3rem;
        font-size: 0.6rem;
        & button{
            font-size: 0.6rem;
        }
    }
    .sorting-filter--container{
        & svg{
            font-size: 1rem;
        }
    }
}