


.candidate{
  overflow-x: hidden;
  /* width: 100%; */
}
.kanban-data-container{
  display: flex;
}
  
  .toggle-contaiiner {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  
    & ul {
      display: flex;
      align-items: center;
      gap: 3rem;
  
      & li {
        list-style-type: none;
        cursor: pointer;
        & svg {
          font-size: 2rem;
        }
      }
    }
  }
  
  .layout-popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: all 2s linear;
    display: flex;
    justify-content: end;
  
    & .layout-popup-content {
      width: 50%;
      background-color: white;
      animation: popup 0.5s linear;
      /*-webkit-animation: popup 0.3s linear;
      */
      -webkit-animation: popup 0.3s linear;
      border-bottom-left-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
      -webkit-animation: popup 0.2s linear;
    }
  }
  
  @keyframes popup {
    0% {
      opacity: 0;
      width: 10%;
    }
    25% {
      opacity: 0.25;
      width: 20%;
    }
    50% {
      opacity: 0.5;
      width: 30%;
    }
  
    100% {
      opacity: 1;
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .layout-top--container {
      padding: 1rem;
  
      & button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
      }
  
      & h1 {
        font-size: 1.5rem;
      }
    }
    .toggle-contaiiner {
      padding: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    
    .layout-popup-content {
      width: 100% !important;
      /* border: 10px solid red; */
      padding: 1rem;
      border-bottom-left-radius: 0rem;
      border-top-left-radius: 0rem;
    }
  }